@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --animate-fade-in-up: fade-in-up 0.6s ease-out;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button{
  cursor: pointer;
}

button:disabled {
    cursor: not-allowed; 
    pointer-events: auto;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-custom {
    @apply border-2 border-black p-3 rounded-xl text-black placeholder-gray-400 outline-none transition-all;
    /* Foco misturado */
    @apply focus:border-blue-500 focus:shadow-[0_0_20px_rgba(59,130,246,0.4)];
  }

  .btn-primary {
    @apply bg-black text-white py-3 px-12 rounded-full hover:bg-gray-800 flex items-center gap-2 font-medium text-lg transition-all;
  }
  .btn-secondary {
    @apply bg-white text-black py-3 px-12 rounded-full hover:bg-gray-200 flex items-center gap-2 font-medium text-lg transition-all;
  }
  .btn-tertiary{
    @apply flex items-center gap-2 px-6 py-3 border-2 border-black rounded-full text-black font-medium hover:bg-gray-100 transition-all;
  }

  .table-clickable-header {
    @apply p-3 font-medium cursor-pointer hover:bg-gray-50 transition-colors first:rounded-l-lg;
  }
}